@media (min-width: 1200px){
    .container {
        max-width: 100% !important;
    }
}
@media (min-width: 992px)
{
    .container {
        max-width: 100% !important;
    }

}
@media (min-width: 768px)
{
    .container {
        max-width: 100% !important;
    }

}
@media (min-width: 576px)
{
    .container {
        max-width: 100% !important;
    }

}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.wellV2 {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
}
.well-lg {
    padding: 24px;
    border-radius: 6px;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.placeholder{
    height: 400px;
}
.pre-scrollable{
    height: 400px !important;
}
.form-group{
    margin-bottom: 0px;
}